.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgba(171, 104, 233, 1);
}
body {
  background: rgb(105, 99, 231);
  background: linear-gradient(
    0deg,
    rgba(105, 99, 231, 1) 0%,
    rgba(171, 104, 233, 1) 100%
  );
  display: flex;
  align-items: center;
  margin: auto;

  background-repeat: no-repeat;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#card {
  width: 919px;
  height: 508px;
  background-color: white;
  background-image: url(images/bg-pattern-desktop.svg),
    url(images/illustration-woman-online-desktop.svg);
  border-radius: 20px;
  background-position: -590px -290px, -90px 80px;
  background-repeat: no-repeat;
  color: hsl(237, 12%, 33%);
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 24px;
}

.answer {
  color: hsl(240, 6%, 50%);
}

img {
  position: relative;
  top: 210px;
  left: -90px;
}
